<%= form_for(notification) do |f| %>
  <% if notification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(notification.errors.count, "error") %> prohibited this notification from being saved:</h2>

      <ul>
      <% notification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :id_user %>
    <%= f.number_field :id_user %>
  </div>

  <div class="field">
    <%= f.label :id_friend %>
    <%= f.number_field :id_friend %>
  </div>

  <div class="field">
    <%= f.label :id_post %>
    <%= f.number_field :id_post %>
  </div>

  <div class="field">
    <%= f.label :visto %>
    <%= f.check_box :visto %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
