<p id="notice"><%= notice %></p>

<p>
  <strong>Id user:</strong>
  <%= @notification.id_user %>
</p>

<p>
  <strong>Id friend:</strong>
  <%= @notification.id_friend %>
</p>

<p>
  <strong>Id post:</strong>
  <%= @notification.id_post %>
</p>

<p>
  <strong>Visto:</strong>
  <%= @notification.visto %>
</p>

<%= link_to 'Edit', edit_notification_path(@notification) %> |
<%= link_to 'Back', notifications_path %>
