<p id="notice"><%= notice %></p>

<p>
  <strong>Id user1:</strong>
  <%= @amigo.id_user1 %>
</p>

<p>
  <strong>Id user2:</strong>
  <%= @amigo.id_user2 %>
</p>

<%= link_to 'Edit', edit_amigo_path(@amigo) %> |
<%= link_to 'Back', amigos_path %>
